body{
    max-width: 100px;
    
    margin: 0 auto;
    
}
h1{display: center;
}
link{
    color: chocolate;}


p{
   margin: 2px;
}
table{
    border-radius: 10%;
}
td{
    border-color: green;
}
.fontWeight{
    font-size: 24; font-weight: 300;
}
.hide{
    visibility: hidden;

}